@{
    var title = ViewData["Title"];
    if (ViewContext.RouteData.Values["controller"] != null)
    {
        var name = ViewContext.RouteData.Values["action"].ToString();
        var action = Actions.GetActionByName(name);
        title = title ?? action.Title;
    }
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="MSThemeCompatible" content="Yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
    <title>@title - ConsultaMD</title>
    <meta name="author" content="EPIC Solutions" />
    <meta name="description" content="Consulta Médica" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet" />
    <open-graph-website site-name="ConsultaMD"
                        title="@ViewData["Title"]"
                        main-image="@(new OpenGraphImage(
        new Uri($"{Context.Request.Scheme}://{Context.Request.Host}/android-chrome-512x512.png"),
        "image/png",
        1200,
        630))"
                        determiner="@OpenGraphDeterminer.Blank" />
    <script type="application/ld+json">
        @{
            var website = new WebSite()
            {
                AlternateName = "ConsultaMD",
                Name = "MD - " + (string)ViewData["Title"],
                Url = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")
            };
            var jsonLd = website.ToString();
        }
        @Html.Raw(jsonLd)
    </script>
    @Html.Raw(new TwitterCardSummaryLargeImage
{
    Title = "ConsultaMD",
    Description = "Consulta Médica",
    CreatorUsername = "@guille_arp",
    SiteUsername = "@guille_arp"
})
    @*<script data-main="js/main" src="https://unpkg.com/requirejs@2.3.6/require.js"
        asp-fallback-src="~/lib/requirejs/require.js"
        asp-subresource-integrity-src="~/lib/requirejs/require.js"></script>*@
    <partial name="_Favicons" />
    @*"@fortawesome/fontawesome-free",*@
    @*<link href="<%= htmlWebpackPlugin.files.chunks[chunk].css %>" rel="stylesheet" />  *@
    <partial name="_Libs" model='(new List<string>{ "ms", "materialize-css", "jquery", "jquery.rut", "jquery.mousewheel", "@aspnet/signalr", "main", "simplebar"}, "TOP")' />
    @*<partial name="_Scripts" model='(new string[]{"jquery", "materialize-css", "main", "runtime"}, "-TOP_")' />*@
    @this.WriteBlocks("TOPStyles")
    @*<link href="~/jquery-mobile/jquery.mobile-1.5.0-rc1.min.css" asp-append-version="true" />*@
    @this.WriteBlocks("Styles")
    @RenderSection("Styles", required: false)
    @this.WriteBlocks("DWNStyles")
    <noscript>
        <style>
            /*** Reinstate scrolling for non-JS clients*/
            [data-simplebar] {
                overflow: auto;
            }
        </style>
    </noscript>
</head>
<body data-controller="@ViewContext.RouteData.Values["Controller"]" data-action="@ViewContext.RouteData.Values["Action"]">
    @if (User.Identity.IsAuthenticated)
    {
        <!-- descomentar cuando esté terminado -->
        <header>
            @this.WriteBlocks("Menu")
        </header>
    }
<main role="main" class="pb-3 @(User.Identity.IsAuthenticated ? "under-menu" : "")">
    @*<partial name="_Loader" />*@
    @RenderBody()
    @if (User.Identity.IsAuthenticated)
    {
        @this.WriteBlocks("SideNav")
    }
    <partial name="_Loader">
</main>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - ConsultaMD - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    @*<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>*@
    @this.WriteBlocks("TOPScripts")
    @*<script src="~/jquery-mobile/jquery.mobile-1.5.0-rc1.min.js" asp-append-version="true"></script>*@
    @this.WriteBlocks("ValidationScripts")
    @this.WriteBlocks("UPScripts")
    @this.WriteBlocks("Scripts")
    @RenderSection("Scripts", required: false)
    @this.WriteBlocks("DWNScripts")
</body>
</html>
