@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<partial name="_Libs" model='(new string[] { "jquery.rut", "@fortawesome/fontawesome-free", "materialize-social", "login" }, "")' />

<div class="row mb-0">
    <partial name="_LeftIconTile" model='"Patient"' />
    <div class="col m6 s12 h-100v">
        <section>
            <form asp-action="Account" method="post">
                <h3 class="center-align">¡Bienvenido!</h3>
                <p class="center-align">Ingresa tus datos</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-field col s12">
                    <input asp-for="Input.RUT" class="validate" style="text-transform:uppercase" autocomplete="username" />
                    <label asp-for="Input.RUT"></label>
                    <span asp-validation-for="Input.RUT" class="text-danger"></span>
                </div>
                <div class="input-field col s12">
                    <input asp-for="Input.Password" class="validate" autocomplete="current-password" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <p class="right-align">
                    <a id="forgot-password" asp-page="./ForgotPassword">Olvidé mi contraseña</a>
                </p>
                <p class="right-align">
                    ¿No tienes cuenta?
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        Regístrate
                    </a>
                </p>
                <div class="form-group">
                    <button type="submit" class="btn waves-effect waves-light white-text teal pill">Ingresar</button>
                </div>
                <p>Ingresar con redes sociales</p>
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button class="external-login btn-floating waves-effect waves-light btn-large social @provider.Name.ToLower()"
                                    value="@provider.Name" data-returnurl="@Model.ReturnUrl">
                                <i class="fab fa-@provider.Name.ToLower()"></i> Ingresar con @provider.Name
                            </button>
                        }
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />