@using Microsoft.AspNetCore.Identity
@using ConsultaMD.Models.Entities
@using ConsultaMD.Data
@using ConsultaMD.Services
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext

@{
    var area = this.ViewContext.RouteData.Values["area"].ToString();
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var name = this.ViewContext.RouteData.Values["action"].ToString();
    var action = Actions.GetActionByName(name);
    var title = ViewData["Title"] ?? action.Title;
    var referer = ViewData["referer"] ?? null;

    //variable global y evaluar solo 1 vez cuando se loguea el usuario
    var user = await UserManager.GetUserAsync(User).ConfigureAwait(false);
    var person = DbContext.Naturals.FirstOrDefault(p => p.Id == user.PersonId);
    ViewData["run"] = RUT.Unformat(User.Identity.Name).Value.rut;
    var menuActions = Actions.GetMenuActions();
    bool reservation = DbContext.Reservations.Any(r => r.PatientId == person.Id);
    bool doctor = DbContext.Doctors.Any(d => d.NaturalId == person.Id);
}

<partial name="_Libs" model='(new string[]{ "sidenav" }, "")' />

@this.Block(
    @<nav>
         <div class="nav-wrapper clinic">
             <a href="#" data-target="nav-mobile" class="sidenav-trigger brand-logo left">
                 <i class="material-icons">menu</i>
                 @*<img src="~/img/logo.png" alt="logo" id="menu-logo"
                      asp-append-version="true" class="hide-on-small-and-down" />*@
             </a>
            <div class="nav-wrapper">
                <div class="col s11 offset-s1">
                    @*@if (!string.IsNullOrWhiteSpace((string)referer))
                    {
                        <a href="@((string)referer)" class="breadcrumb">@Actions.GetActionByUrl(new Uri((string)referer)).Title</a>
                    }
                    else
                    {*@
                    @foreach (var p in action.Path)
                    {
                        var e = Actions.GetActionByName(p);
                        <a href="/@e.Area/@e.Controller/@e.Name" class="breadcrumb">@e.Title</a>
                    }
                    @* } *@
                    <a href="#!" class="breadcrumb">@Html.Raw((string)title)</a>
                </div>
            </div>
         </div>
    </nav>, "Menu")

@this.Block(
    @<ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li>
        <form>
            <div class="user-view">
                <div class="background">
                    <img class="image" src="~/img/background-aero.png" asp-append-version="true">
                </div>
                <a id="editProfile" class="btn-floating btn-small waves-effect waves-light teal darken-1">
                    <i class="material-icons" style="line-height:25px;">create</i>
                </a>
                <a href="#user" class="details"><img alt="profile picture" class="circle" src="~/home/getimg/@((int)ViewData["run"])" asp-append-version="true"></a>
                <a href="#name" class="details"><span class="white-text name">@person.FullNameFirst</span></a>
                <a href="#rut" class="details">
                    <span class="white-text input-field">
                        <i class="material-icons prefix">person_pin</i>
                        <input class="browser-default white-text" disabled value="@User.Identity.Name" />
                    </span>
                </a>
                <a href="#phone" class="details">
                    <span class="@(user.PhoneNumberConfirmed ? "white-text" : "orange-text") phone input-field">
                        <i class="material-icons prefix">phone</i>
                        <input id="userphone" class="browser-default white-text" disabled value="@user.PhoneNumber.Replace("+569", "9 ").Insert(6, " ")" />
                    </span>
                </a>
                <a href="#email" class="details">
                    <span class="white-text email input-field">
                        <i class="material-icons prefix">mail</i>
                        <input id="useremail" class="browser-default white-text" disabled value="@user.Email" />
                        @*<span>@(user.EmailConfirmed ? "" : "correo no confirmado")</span>*@
                    </span>
                </a>
            </div>
        </form>
    </li>
    <li><a class="subheader">Páginas</a></li>
    @foreach (var a in menuActions)
    {
        var print = true;
        switch (a.Limit)
        {
            case nameof(reservation):
                print = reservation;
                break;
            case nameof(doctor):
                print = doctor;
                break;
        }
                @if (print)
                    {
            <li class="@(name == a.Name ? "active" : "")">
                <a asp-area="@a.Area" asp-controller="@a.Controller" asp-action="@a.Name">
                    <i class="material-icons left">@a.Icon</i>@a.Title
                </a>
            </li>
                    }
    }
        <li><div class="divider"></div></li>
        <li><a class="subheader">Sesión</a></li>
        <li>
            <a href="#" onclick="document.getElementById('logout').submit();">
                <i class="material-icons left">exit_to_app</i>Salir
            </a>
            <form id="logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
            </form>
        </li>
    </ul>, "Menu")