@model IEnumerable<AgendaEventVM>

@{
    ViewData["Title"] = "Agendas";
}

<partial name="_Libs" model="(new List<string>(), string.Empty)" />

<div class="row" data-simplebar>
    <div class="col s12">
        <div mbsc-form>
            <div class="mbsc-form-group">
                <div class="mbsc-btn-group-block">
                    <button mbsc-button id="showAdd" style="border-bottom: 1px solid lightblue">
                        <i class="material-icons left">add</i>Añadir Agenda
                    </button>
                </div>
            </div>
        </div>
        <partial name="_AddAgenda" model="new AddAgendaVM()" />
    </div>
    <div class="col s12">
        <div id="demo-event-popover"></div>
    </div>
    @foreach (var agenda in Model)
    {
        <div class="col s4">
            <div class="card">
                <div class="card-content">
                    <button class="btn"><i class="material-icons left">edit</i>Editar</button>
                    <table>
                        <tr>
                            <th>@Html.DisplayNameFor(m => agenda.Location)</th>
                            <td>@Html.DisplayFor(m => agenda.Location)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => agenda.StartTime)</th>
                            <th>@Html.DisplayFor(m => agenda.StartTime)</th>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => agenda.EndTime)</th>
                            <th>@Html.DisplayFor(m => agenda.EndTime)</th>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => agenda.Duration)</th>
                            <th>@Html.DisplayFor(m => agenda.Duration)</th>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => agenda.TimeSlotCount)</th>
                            <th>@Html.DisplayFor(m => agenda.TimeSlotCount)</th>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => agenda.TakenTimeSlotCount)</th>
                            <th>@Html.DisplayFor(m => agenda.TakenTimeSlotCount)</th>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col s5 offset-s1">
                            <button class="btn center pill tile-gradient">Activar</button>
                        </div>
                        <div class="col s5">
                            <button class="btn center pill tile-gradient">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>