@model IEnumerable<AgendaEventVM>

@{
    ViewData["Title"] = "Agendas";
}

    <div class="row" data-simplebar style="height: calc(100vh - 64px);">
        <div class="col s12">
            <a asp-action="AddAgenda" class="btn tile waves-effect tile-gradient">
                <i class="material-icons left">add</i>Añadir Agenda
            </a>
        </div>
        @foreach (var e in Model)
        {
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <table>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => e.Location)</th>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(m => e.Location)</td>
                                </tr>
                                <tr>
                                    <th>Fechas</th>
                                </tr>
                                <tr>
                                    <td>@e.DateRange()</td>
                                </tr>
                                <tr>
                                    <th>Dias</th>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(m => e.GetDays())</td>
                                </tr>
                                <tr>
                                    <th>Horario</th>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(m => e.TimeRange())</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => e.Duration)</th>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(m => e.Duration)</td>
                                </tr>
                                <tr>
                                    <th>Citas</th>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(m => e.GetSlots())</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-action">
                            <div class="col s5 offset-s1">
                                <button class="btn center pill tile-gradient">Desactivar</button>
                            </div>
                            <div class="col s5">
                                <button class="btn center pill tile-gradient">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>